{% extends 'login/base.html' %}
{% block title %}Sign In{% endblock %}

{% block content %}
<span class="login100-form-title p-b-41">
    Sign In
</span>

<form class="login100-form validate-form p-b-33 p-t-5" method="POST">
    {{ form.hidden_tag() }} <!-- CSRF -->
    <div class="wrap-input100 validate-input" data-validate="Enter email">
        {{ form.email(class="input100", placeholder="Email") }}
        {% if form.email.errors %}
        <span class="error-message">
				{% for error in form.email.errors %}
					{{ error }}
				{% endfor %}
			</span>
        {% endif %}
        <span class="focus-input100 lnr lnr-envelope" data-placeholder="&#xe818;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        {{ form.password(class="input100", placeholder="Password") }}
        {% if form.password.errors %}
        <span class="error-message">
				{% for error in form.password.errors %}
					{{ error }}
				{% endfor %}
			</span>
        {% endif %}
        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
    </div>

    <div class="container-login100-form-btn m-t-32">
        {{ form.submit(class="login100-form-btn") }}
    </div>

    <a href="{{ url_for('register') }}" class="signup-signin-link">Sign up</a>

</form>
{% endblock %}